@media (max-width: 520px) {
  .leaflet-top.leaflet-right {
    top: 3.75rem;
  }
}

.leaflet-container {
  font-family: var(--font-inter), "Helvetica Neue" !important;
  font-size: 0.75rem;
}

.leaflet-touch .leaflet-bar a {
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
}

.leaflet-bar {
  box-shadow: #00000012 0px 0px 4px 0px !important;
}

.leaflet-bar a {
  color: var(--color-gray-600);
}

.leaflet-bar,
.leaflet-bar:not(.leaflet-draw-toolbar):not(.leaflet-control-zoom) a,
.leaflet-draw-toolbar {
  border-radius: var(--radius) !important;
}

.leaflet-control-zoom a:first-child,
.leaflet-draw-toolbar a:first-child {
  border-top-left-radius: var(--radius) !important;
  border-top-right-radius: var(--radius) !important;
}
.leaflet-control-zoom a:last-child,
.leaflet-draw-toolbar a:last-child {
  border-bottom-left-radius: var(--radius) !important;
  border-bottom-right-radius: var(--radius) !important;
}

.leaflet-bar,
.leaflet-container {
  border: none !important;
  border-radius: 0;
}

.leaflet-control {
  user-select: none;
}

.leaflet-control-scale {
  margin-left: 0.5rem !important;
}

.leaflet-bottom-left-secondary {
  position: absolute;
  left: 9.6875rem;
  bottom: 2rem;
}

.leaflet-bottom-right-secondary {
  position: absolute;
  right: 3.3125rem;
  bottom: 1.5625rem;
}

.leaflet-bottom-right-secondary > div,
.leaflet-bottom-right-secondary {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  align-items: flex-end;
}

.leaflet-bottom.leaflet-right {
  bottom: 0.9375rem;
}

.leaflet-control-attribution {
  position: absolute !important;
  bottom: -0.9375rem;
  right: 0;
  white-space: nowrap;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  cursor: pointer;
  border: none;
}

.leaflet-grab {
  cursor: auto !important;
}

.leaflet-dragging .leaflet-grab {
  cursor: move !important;
}

.leaflet-control.leaflet-bar.button-enabled {
  opacity: 0.5;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

.control-custom {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
